@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

:root {
  --font-color: #cfe6ec;
  --foreground: #171717;
  --secondary-font: "DM Serif Text";
}

body {
  font-family: "Unna", serif;
}
